* {
  margin: 0px;
  padding: 0px;
}
body, {
  font-size: 100%;
  background: #F8F8FF;
}

.bgform {
    padding: 1% 1% 1% 1%;
    background-color: #d8cdcd;
    border-radius: 5px;
  border: 1px solid gray;
  opacity:0.9;
}

.bgmanag {
  padding: 1% 1% 1% 1%;
  background-color: #d8cdcd;
  border-radius: 5px;
border: 1px solid gray;
opacity:0.9;
}
